:root {
  // Главный
  --wtt-main: #00BFEF;
  // Успех
  --wtt-success: #63F042;
  // Предупреждение
  --wtt-warn: #EFB51F;
  // Ошибка
  --wtt-error: #EF1F36;
  // Текст
  --wtt-text: #3C3E3C;
  // Подтекст
  --wtt-subtext: #525861;
  // Подпись
  --wtt-signature: #9FAFC0;
  // Обводка
  --wtt-border: #C4CFDC;
  // Задний фон
  --wtt-bg-1: #ffffff;
  // Задний фон
  --wtt-bg-2: #e9eef3;
}