:root {
  // Цвет обводки
  --wtt-table-bc: var(--wtt-border);
  // Задний фон шапки
  --wtt-table-header-bg: var(--wtt-bg-2);
  // Цвет текста шапки
  --wtt-table-header: var(--wtt-signature);
  // Задний фон строки
  --wtt-table-row-bg: var(--wtt-bg-1);
  // Цвет текста строк
  --wtt-table-row: var(--wtt-text);
}